#tablature::-webkit-scrollbar {
    display: none;
  }

#tablature {
    width: 90%;
    margin: 0em auto;
    padding: 0 0;
    font-size: 1.5em;
    color:gray;
    overflow: auto;
    user-select: none;
    height: 510px;
}

.numbers{
    position: absolute;
    margin: -4px;
    color: white;
    z-index: 10;
}

.container {
    position: relative;
    margin-bottom: 10px;
}

.tab {
    color: white;
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin: 4px 0 0 0;
}

.lines {
    position: relative;
    z-index: -1;
}

.lines ul {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

.numbers ul {
    font-size: 1em;
    margin: 0;
    height: 22px;
}

.numbers ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 30px;
    z-index: 1;
}

.selected {
    background: rgb(49, 49, 50, 0.668);
    background: rgba(120, 119, 119, 0.636);
}

.pointA {
    background: rgba(12, 188, 68, 0.668)
}

.pointB {
    background: rgba(136, 29, 27, 0.548)
}